extends layout

block content
    if data
        p #{JSON.parse(d).key}
    else if newdata
        p #{JSON.parse(newdata).name}
        p #{JSON.parse(newdata).stringlength}
    else if str
        p #{JSON.parse(str).string}
        p #{JSON.parse(str).string}

    else
        p 'problem set 2'